@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    height: 735px;
    background-image: url(img/top_mob.jpg);
    &__title {
      padding-top: 238px;
      font-size: 32px;
      line-height: 39px;
      width: 343px;
      text-align: center;
    }
    &__text {
      width: 343px;
      text-align: center;
    }
  }
  .text {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    width: 343px;
  }
  .top__btn {
    margin-top: 32px;
  }
  .game__play {
    padding-left: 16px;
    width: 343px;
  }
  .title {
    font-size: 32px;
    line-height: 39px;
    width: 343px;
  }
  .seasons {
    padding-top: 51px;
    padding-bottom: 85px;
    gap: 0px;
  }
  .picture {
    padding-top: 64px;
    width: 344px;
    height: 236px;
  }
  .btn {
    margin-top: 32px;
  }
  .remember {
    padding-top: 51px;
    padding-bottom: 85px;
    gap: 0px;
  }
  .riddle {
    background-image: url(img/bottom_mob.jpg);
    padding-top: 51px;
    padding-bottom: 487px;
    &__text {
      font-size: 14px;
      line-height: 22px;
      width: 343px;
    }
  }
}
