* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1024px;
  background-image: url(../img/top.jpg);
}
.top__title {
  padding-top: 217px;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #FFFFFF;
  max-width: 755px;
}
.top__text {
  max-width: 481px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  padding-top: 32px;
}
.top__btn {
  margin-top: 44px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
}

.text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  padding-top: 32px;
}

span {
  font-weight: 700;
}

.btn {
  margin-top: 32px;
}
.btn__go {
  border-radius: 30px;
  max-width: 234px;
  height: 48px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  background: #9C0332;
  padding-right: 74px;
  padding-left: 74px;
  box-sizing: border-box;
  text-align: center;
  display: block;
  padding-top: 13.3px;
}
.btn__go:hover {
  transform: scale(1.02);
  box-shadow: 5px 5px 20px rgba(51, 75, 151, 0.9333333333);
}
.btn__play {
  padding-right: 90px;
  padding-left: 74px;
}

.game {
  background: #000915;
}
.game-box {
  padding-top: 128px;
  padding-bottom: 128px;
  gap: 32px;
  display: flex;
}
.game__play {
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(0023.jpg);
  border-radius: 16px;
  height: 300px;
  width: 379px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-style: normal;
  display: flex;
  align-items: flex-end;
  padding-left: 32px;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  box-sizing: border-box;
}
.game__play:hover {
  transform: scale(1.02);
  box-shadow: 5px 5px 20px rgba(51, 75, 151, 0.9333333333);
}
.game__play-1 {
  background-image: url(../img/game1.jpg);
}
.game__play-2 {
  background-image: url(../img/game2.jpg);
}
.game__play-3 {
  background-image: url(../img/game3.jpg);
}

.seasons {
  padding-top: 233px;
  background: #000915;
  display: flex;
  padding-bottom: 233px;
  gap: 135px;
}

.picture {
  max-width: 485px;
}

.remember {
  padding-top: 239px;
  background: #000915;
  display: flex;
  padding-bottom: 239px;
  gap: 135px;
}

.riddle {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/bottom.jpg);
  padding-top: 276px;
  padding-bottom: 288px;
}
.riddle__text {
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  padding-top: 32px;
}
.riddle__title {
  text-align: center;
}
.riddle__btn {
  display: flex;
  justify-content: center;
}

.footer {
  background: #000915;
}
.footer__title {
  padding-top: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  padding-bottom: 32px;
  text-align: center;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .text {
    text-align: center;
    max-width: 600px;
  }
  .top__btn {
    display: flex;
    justify-content: center;
  }
  .game-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .title {
    text-align: center;
  }
  .picture {
    max-width: 344px;
  }
  .btn {
    display: flex;
    justify-content: center;
  }
  .seasons {
    flex-direction: column;
    align-items: center;
  }
  .remember {
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    height: 735px;
    background-image: url(img/top_mob.jpg);
  }
  .top__title {
    padding-top: 238px;
    font-size: 32px;
    line-height: 39px;
    max-width: 343px;
    text-align: center;
  }
  .top__text {
    max-width: 343px;
    text-align: center;
  }
  .text {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    max-width: 343px;
  }
  .top__btn {
    margin-top: 32px;
  }
  .game__play {
    padding-left: 16px;
    max-width: 343px;
  }
  .title {
    font-size: 32px;
    line-height: 39px;
    max-width: 343px;
  }
  .seasons {
    padding-top: 51px;
    padding-bottom: 85px;
    gap: 0px;
  }
  .picture {
    padding-top: 64px;
  }
  .btn {
    margin-top: 32px;
  }
  .remember {
    padding-top: 51px;
    padding-bottom: 85px;
    gap: 0px;
  }
  .riddle {
    background-image: url(img/bottom_mob.jpg);
    padding-top: 51px;
    padding-bottom: 487px;
  }
  .riddle__text {
    font-size: 14px;
    line-height: 22px;
    max-width: 343px;
  }
}/*# sourceMappingURL=style.css.map */